/*elementos alineados*/
.boxgrande{
	font-family: 'Abril Fatface', cursive;
	text-align: right;
	font-size: 30px;
	float: right;

}
.elementosAlineados{
	display:inline-block;
	width: 100%;
	margin-right: 3rem;
	margin-top: 1rem;
}